# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.DS_Store
/cmd/threatbook-ip-web/threatbook-ip-web
/release
/tmp
/vendor

# Dependency directories (remove the comment below to include it)ven
vendor/

# IDE configs
.idea
.vscode

# config settings
config.toml